{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.yidisec.com">
                <!--<img width="40px" src="{% static '/images/hana.jpg' %}">-->
                <p>Tdcqma</p>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="">Python</a> </li>
                <li><a href="">PHP</a> </li>
                <li><a href="">Git</a> </li>
                <li><a href="">Linux</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>